NET "bird<0>" LOC = P51 | IOSTANDARD = LVTTL;
NET "bird<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "bird<2>" LOC = P35 | IOSTANDARD = LVTTL;
NET "bird<3>" LOC = P33 | IOSTANDARD = LVTTL;
NET "bird<4>" LOC = P30 | IOSTANDARD = LVTTL;